/*
GitHub Plugin URI:  Mill3/cstj-algolia-sync-plugin
GitHub Plugin URI:  https://github.com/Mill3/cstj-algolia-sync-plugin
Plugin Name: CSTJ - Algolia Sync
Description: Sync data from Wordpress to Algolia
Version:            0.0.7
Author:             MILL3 Studio
Author URI:         https://mill3.studio
License:            Private
*/

